* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}

@font-face {
    font-family: myFont;
    src: url(assets/font/Ubiquitous.ttf);
}

@font-face {
    font-family: myFontNd;
    src: url(assets/font/Heavitas.ttf);
}

@font-face {
    font-family: myFontRd;
    src: url(assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsBold;
    src: url(assets/font/Poppins-Bold.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppinsBold;
    background-color: #1a202c;
}

.wrapper {
    width: 1500px;
    margin: auto;
    position: relative;
}

.Info {
    width: 1500px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    float: left;
    font-family: myFontNd;
    color: #fff;
}

.menu {
    float: right;
}

.navUp {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 65px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #0121cd;
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-right: 50px;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    text-align: center;
}

img {

    padding-top: 40px;
    width: 300px;
    height: auto;
    clip-path: circle(38% at 50% 38%);
    position: sticky;
}

.Bio h1 {
    position: relative;
    font-weight: bold;
    text-align: left;
    padding-top: 130px;
    font-size: 40px;
    left: 25px;
    font-family: myFontRd;
    color: #0121cd;
}

.Bio h2 {
    position: relative;
    text-align: left;
    left: 25px;
    font-size: 14px;
    font-family: myFontRd;
    color: #fff;
}

.Skill h1 {
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    left: 25px;
    padding-top: 12px;
    font-family: myFontRd;
    color: #0121cd;
}

.skill1 p {
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 250px;
    font-size: 25px;
    color: #0121cd;
}

.skill1 h2 {
    width: 50%;
    float: right;
    text-align: right;
    font-family: myFontRd;
    font-size: 14px;
    color: #fff;
}

.skill1 img {
    width: 500px;
    clip-path: none;
    padding-left: 200px;
    padding-top: 150px;
    float: left;
}

.skill2 p {
    width: 50%;
    float: left;
    text-align: left;
    padding-top: 250px;
    font-size: 25px;
    color: #0121cd;
}

.skill2 h2 {
    width: 50%;
    float: left;
    text-align: left;
    font-family: myFontRd;
    font-size: 14px;
    color: #fff;
}

.skill2 img {
    width: 500px;
    clip-path: none;
    padding-right: 250px;
    padding-top: 250px;
    float: right;
}

.skill3 p {
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 250px;
    font-size: 25px;
    color: #0121cd;
}

.skill3 h2 {
    width: 50%;
    float: right;
    text-align: right;
    font-family: myFontRd;
    font-size: 14px;
    color: #fff;
}

.skill3 img {
    width: 500px;
    clip-path: none;
    padding-left: 200px;
    padding-top: 250px;
    float: left;
}